<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>

		<handlers>
			<add name="iisnode" path="login.js" verb="*" modules="iisnode"/>
		</handlers>
		﻿<defaultDocument enabled="true">
		  <files>
		  <add value="server.js" />
		  </files>
		</defaultDocument>
		<httpErrors existingResponse="PassThrough"/>
	</system.webServer>
</configuration>
